<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xzaminer.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:name="com.xzaminer.app.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".category.MainActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".studymaterial.QuizActivity">
        </activity>
        <activity android:name=".IntroActivity">
        </activity>
        <activity android:name=".result.ResultActivity">
        </activity>
        <activity android:name=".admin.AddQuestionBankActivity">
        </activity>
        <activity android:name=".admin.AddStudyMaterialActivity">
        </activity>
        <activity android:name=".admin.ManageCategoriesActivity">
        </activity>
        <activity android:name=".admin.EditCourseActivity">
        </activity>
        <activity android:name=".admin.ManageCourseActivity">
        </activity>
        <activity android:name=".admin.EditSectionActivity">
        </activity>
        <activity android:name=".admin.EditQuizActivity">
        </activity>
        <activity android:name=".admin.EditStudyMaterialQuestionsActivity">
        </activity>
        <activity android:name=".admin.EditQuizQuestionsActivity">
        </activity>
        <activity android:name=".result.QuizAnswersActivity">
        </activity>
        <activity android:name=".course.CourseActivity">
        </activity>
        <activity android:name=".course.CourseSectionVideosDomainActivity">
        </activity>
        <activity android:name=".studymaterial.VideoActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode">
        </activity>
        <activity android:name=".studymaterial.StudyMaterialActivity">
        </activity>
        <activity android:name=".billing.ShowPurchasesActivity">
        </activity>
        <activity android:name=".user.UserProfileActivity">
        </activity>
        <activity android:name=".user.ListUnfinishedQuizzesActivity">
        </activity>
        <activity android:name=".user.ListFinishedQuizzesActivity">
        </activity>
        <activity android:name=".billing.ListUserPurchasesActivity">
        </activity>
        <activity android:name=".login.EmailPasswordActivity">
        </activity>
        <activity android:name=".login.LoginPhoneNumberAuthActivity">
        </activity>
        <activity android:name=".course.CourseSectionActivity">
        </activity>
        <activity android:name=".login.PhoneNumberAuthActivity"
                  android:theme="@style/FullScreenTheme">
        </activity>
        <service
                android:name="com.xzaminer.app.studymaterial.AudioPlayerService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.xzaminer.player.ACTION_INIT_PLAY" />
                <action android:name="com.xzaminer.player.ACTION_PLAY" />
                <action android:name="com.xzaminer.player.ACTION_PAUSE" />
                <action android:name="com.xzaminer.player.ACTION_STOP" />
            </intent-filter>
        </service>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="b46ac0826df7eb1a4216ad2ffc59cb5f505f5a5a" />
    </application>

</manifest>